@media (min-width: 0px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: .7rem;
    }
    ul {
        padding-left: 5%;
    }
    .one-click-scoring {
        padding-right: 15px;
    }
    .left-mark img {
        margin-left: 8px;
    }
    .right-label {
        margin-left: -13px;
    }
    .right-mark img {
        margin-left: -15px;
    }
    .rules-header {
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    .rules {
        font-family: 'Cuprum', cursive;
        font-size: .75rem;
    }
    .throw-borders,
    .rules-borders {
        border-width: 3%;
        border-style: groove;
        border-color: black;
    }
    #desktop01border {
        margin-top: 3.5%;
    }
    .rules-borders {
        margin-top: 5%;
    }
    .title {
        font-size: 1.5rem;
    }
    .game-appear {
        opacity: 0.01;
    }
    .game-appear.game-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
    .start-over img {
        width: 75%;
        height: 75%;
    }
    /* .start-over {
        margin: 0;
        padding: 0;
    } */
    .top-row {
        margin-top: 5%;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 1.5rem;
    }
    .modal-body button {
        width: 100%;
    }
    .modal-name {
        font-size: 1.5rem;
        padding-right: 20%;
    }
    .modal-toggle {
        margin-top: 1.5%;
    }
    .miss-undo-row {
        margin-bottom: 3%;
    }
    .toggle {
        -webkit-appearance: none;
        appearance: none;
        width: 62px;
        height: 32px;
        display: inline-block;
        position: relative;
        border-radius: 50px;
        overflow: hidden;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: #707070;
        transition: background-color ease 0.3s;
    }
    .toggle:before {
        content: "on off";
        display: block;
        position: absolute;
        z-index: 2;
        width: 28px;
        height: 28px;
        background: #fff;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        font: 10px/28px Helvetica;
        text-transform: uppercase;
        font-weight: bold;
        text-indent: -22px;
        word-spacing: 37px;
        color: #fff;
        text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
        white-space: nowrap;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }
    .toggle:checked {
        background-color: #4CD964;
    }
    .toggle:checked:before {
        left: 32px;
    }
    .number {
        /* border-left: 4px double black;
    border-right: 4px double black;  */
        padding-top: .5%;
        padding-bottom: .5%;
        padding-left: .5%;
        padding-right: .5%;
    }
    .miss {
        padding-top: .5%;
        padding-bottom: .5%
    }
    .x01-option {
        padding-top: 3%;
    }
    .number button,
    .modal-body button {
        width: 100%;
        color: white;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.35rem !important;
        padding: 0;
        font-weight: bold;
    }
    .modal-body button {
        font-weight: normal;
    }
    .miss button,
    .undo button,
    .start-over button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .miss button:hover {
        background-color: #CDA9B9;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: .75rem;
        padding: 0;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: .7rem;
        padding: 0;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
        border-bottom: 4px double black;
    }
    .points-label {
        padding: 0;
        font-size: .75rem;
    }
    .points-score {
        padding: 0;
        font-size: 1.25rem;
    }
    /* .right-label {
        padding-left: -20px;
    } */
}

@media (min-width: 720px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.75rem;
    }
    .rules-header {
        font-size: 1.75rem;
        margin-bottom: 0;
    }
    .rules {
        font-family: 'Cuprum', cursive;
        font-size: 1rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .top-row {
        margin-top: 2%;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 2rem;
    }
    .modal-body button {
        width: 100%;
    }
    .number {
        border-left: 0;
        border-right: 0;
        padding-top: .5%;
        padding-bottom: .5%
    }
    .miss,
    .undo {
        padding-top: .5%;
        padding-bottom: .5%
    }
    .number button,
    .modal-body button {
        width: 100%;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem !important;
        font-weight: normal;
    }
    .number {
        font-family: 'Cuprum', cursive;
        font-size: 2rem !important;
        color: black;
        font-weight: bold;
    }
    .miss button,
    .undo button,
    .start-over button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem;
        font-weight: normal;
    }
    .miss button:hover {
        background-color: #CDA9B9;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: 1.75rem;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: 1.5rem;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
    }
    .points-label {
        font-size: 1.75rem;
    }
    .points-score {
        font-size: 2rem;
    }
}

@media (min-width: 720px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.75rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .top-row {
        margin-top: 2%;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 2rem;
    }
    .modal-body button {
        width: 100%;
    }
    .number {
        border-left: 0;
        border-right: 0;
        padding-top: .5%;
        padding-bottom: .5%
    }
    .miss,
    .undo {
        padding-top: .5%;
        padding-bottom: .5%
    }
    .number button,
    .modal-body button {
        width: 100%;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem !important;
        font-weight: normal;
    }
    .number {
        font-family: 'Cuprum', cursive;
        font-size: 2rem !important;
        color: black;
        font-weight: bold;
    }
    .miss button,
    .undo button,
    .start-over button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem;
        font-weight: normal;
    }
    .miss button:hover {
        background-color: #CDA9B9;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: 1.75rem;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: 1.5rem;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
    }
    .points-label {
        font-size: 1.75rem;
    }
    .points-score {
        font-size: 2rem;
    }
}

.modal-header {
    text-align: center !important;
    display: table-cell !important;
    vertical-align: middle !important;
}

.active-thrower {
    background-color: #C7AB8D;
    color: black;
}

.inactive-thrower {
    color: rgba(242, 221, 200, .5);
}

button,
button:active,
button:focus,
button:visited,
button:hover,
button:link,
button:target {
    border: 0 !important;
}

.border-right {
    border-right: 4px double black;
}

.border-left {
    border-left: 4px double black;
}

.border-bottom {
    border-bottom: 4px double black;
}

.undo button:hover,
.start-over button:hover {
    background-color: #C7AB8D;
}

img {
    max-width: 100%;
}

.number img {
    padding: 0;
    max-height: 70%;
    color: white;
}

.padding-top {
    padding-top: 1%;
}