@media (min-width: 0px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: .7rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .game-appear {
        opacity: 0.01;
    }
    .game-appear.game-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
    
    .top-row {
        margin-top: 5%;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 1.5rem;
    }
    .modal-body button {
        width: 100%;
    }
    .modal-name {
        font-size: 1.5rem;
        padding-right: 20%;
    }
    .number {
        /* border-left: 4px double black;
    border-right: 4px double black;  */
        padding-top: .5%;
        padding-bottom: .5%;
        padding-left: .5%;
        padding-right: .5%;
    }
    .miss {
        padding-top: .5%;
        padding-bottom: .5%
    }
    .x01-option {
        padding-top: 3%;
    }
    .number button,
    .modal-body button {
        width: 100%;
        color: white;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.5rem !important;
        padding: 0;
        font-weight: bold;
    }
    .modal-body button {
        font-weight: normal;
    }
    .miss button,
    .undo button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .miss button:hover {
        background-color: #CDA9B9;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: .75rem;
        padding: 0;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: .7rem;
        padding: 0;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
        border-bottom: 4px double black;
    }
    .points-label {
        padding: 0;
        font-size: .75rem;
    }
    .points-score {
        padding: 0;
        font-size: 1.25rem;
    }
}

@media (min-width: 720px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.75rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .top-row {
        margin-top: 2%;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 2rem;
    }
    .modal-body button {
        width: 100%;
    }
    .number {
        border-left: 0;
        border-right: 0;
        padding-top: .5%;
        padding-bottom: .5%
    }
    .miss,
    .undo {
        padding-top: .5%;
        padding-bottom: .5%
    }
    .number button,
    .modal-body button {
        width: 100%;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem !important;
        font-weight: normal;
    }
    .number {
        font-family: 'Cuprum', cursive;
        font-size: 2rem !important;
        color: black;
        font-weight: bold;
    }
    .miss button,
    .undo button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem;
        font-weight: normal;
    }
    .miss button:hover {
        background-color: #CDA9B9;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: 1.75rem;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: 1.5rem;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
    }
    .points-label {
        font-size: 1.75rem;
    }
    .points-score {
        font-size: 2rem;
    }
}

.modal-header {
    text-align: center !important;
    display: table-cell !important;
    vertical-align: middle !important;
}

.active-thrower {
    background-color: #C7AB8D;
    color: black;
}

.inactive-thrower {
    color: rgba(242, 221, 200, .5);
}

button,
button:active,
button:focus,
button:visited,
button:hover,
button:link,
button:target {
    border: 0 !important;
}

.border-right {
    border-right: 4px double black;
}

.border-left {
    border-left: 4px double black;
}

.border-bottom {
    border-bottom: 4px double black;
}

.undo button:hover {
    background-color: #C7AB8D;
}

img {
    max-width: 100%;
}

.number img {
    padding: 0;
    max-height: 70%;
    color: white;
}

.padding-top {
    padding-top: 1%;
}