:root {
    --nice-font: 'Cuprum', cursive;
    --p1-color: #F2DDC8;
    --p1-singe: #F2DDC8;
    --p1-multiple-hover: #689276;
    --p2-multiple-hover: rgb(197, 98, 98);
}

@media (min-width: 0px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: .7rem;
    }
    ul {
        padding-left: 5%;
    }
    .set-box {
        font-family: var(--nice-font);
        padding: 0 !important;
        max-width: 20px !important;
        min-width: 20px !important;
        border: 1px solid black;
    }
    .shot-history {
        padding: 0 !important;
    }
    .modal-content {
        background-color: rgb(73, 121, 89);
    }
    .strike-out {
        text-decoration: line-through;
    }
    .set-header {
        margin-top: 1%;
    }
    .x01-stats,
    .cricket-stats {
        font-family: var(--nice-font);
    }
    .p1-set {
        background-color: var(--p1-color);
        color: black;
    }
    .p2-set {
        background-color: var(--p2-multiple-hover);
        color: black;
    }
    .leg-header,
    .set-header,
    .leg-options,
    .set-option,
    .best-of {
        font-family: 'Cuprum', cursive;
    }
    .leg-options,
    .set-option {
        font-size: 1rem;
        padding-top: 5%;
    }
    .leg-selected,
    .set-selected,
    .settings-selected {
        font-weight: strong;
        color: #F2DDC8;
    }
    .leg-faded,
    .set-faded,
    .settings-fade {
        color: rgba(239, 220, 200, .5);
    }
    .best-of {
        padding-top: 1%;
    }
    .best-of {
        font-size: .75rem;
    }
    .leg-header,
    .set-header,
    .sound-header,
    .swipe-header {
        font-size: 1rem;
    }
    .results-screen {
        font-size: 1.3rem;
    }
    .p1-multiple button:hover {
        background-color: #689276 !important;
        /* color: black; */
    }
    .p2-multiple button:hover {
        background-color: rgb(197, 98, 98) !important;
        /* color: black; */
    }
    .x01-stats {
        margin-bottom: 4%;
    }
    .one-click-scoring {
        padding-right: 15px;
        font-size: 1rem;
        vertical-align: .6rem;
    }
    .end-turn button {
        font-size: 1.07rem !important;
    }
    #mobileThrow {
        margin-top: 1%;
        font-size: 1rem;
    }
    .left-mark img {
        /* height: 50px; */
        margin-left: 8px;
    }
    .right-label {
        margin-left: -13px;
    }
    .right-mark,
    .left-mark {
        padding-top: .5%;
        padding-bottom: .5%;
        height: 50px;
    }
    .right-mark img {
        margin-left: -15px;
    }
    .rules-header {
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    .rules {
        font-family: 'Cuprum', cursive;
        font-size: .75rem;
    }
    .throw-borders,
    .rules-borders {
        border-width: 3%;
        border-style: groove;
        border-color: black;
    }
    #desktop01border {
        margin-top: 3.5%;
    }
    .rules-borders {
        margin-top: 5%;
        margin-right: 5%;
    }
    .title {
        font-size: 1.5rem;
    }
    .game-appear {
        opacity: 0.01;
    }
    .game-appear.game-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
    .start-over img {
        width: 75%;
        height: 75%;
    }
    /* .start-over {
        margin: 0;
        padding: 0;
    } */
    .top-row {
        margin-top: 5%;
    }
    #x01MobileThrow {
        margin-bottom: 2%;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 1.5rem;
    }
    .modal-body button {
        width: 100%;
    }
    .modal-name {
        font-size: 1.5rem;
        padding-right: 20%;
    }
    .modal-toggle {
        margin-top: 1.5%;
    }
    .miss-undo-row {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .miss-undo-row button {
        padding: 0 !important;
    }
    .miss-undo-row img {
        width: 50%;
    }
    #x01MobileUndoRow {
        padding: 0;
        margin: 0;
    }
    .start-over {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: .5%;
    }
    .gesture {
        font-size: 1rem;
    }
    .toggle,
    .gesture-toggle {
        font-family: 'Cuprum', cursive;
        -webkit-appearance: none;
        appearance: none;
        width: 62px;
        height: 20px;
        display: inline-block;
        position: relative;
        border-radius: 50px;
        overflow: hidden;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: #881918;
        transition: background-color ease 0.3s;
    }
    .toggle:before,
    .gesture-toggle:before {
        font-family: 'Cuprum', cursive;
        content: "off on";
        display: block;
        position: absolute;
        z-index: 2;
        width: 28px;
        height: 18px;
        background: #fff;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        font: 8px/18px Helvetica;
        text-transform: uppercase;
        font-weight: bold;
        text-indent: -22px;
        word-spacing: 37px;
        color: #fff;
        text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
        white-space: nowrap;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }
    .toggle:before {
        font-family: 'Cuprum', cursive;
        content: " ";
        display: block;
        position: absolute;
        z-index: 2;
        width: 28px;
        height: 18px;
        background: #fff;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        font: 8px/18px Helvetica;
        text-transform: uppercase;
        font-weight: bold;
        text-indent: -22px;
        word-spacing: 37px;
        color: #fff;
        text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
        white-space: nowrap;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }
    .gesture-toggle:checked,
    .toggle:checked {
        background-color: #707070;
    }
    .gesture-toggle:checked:before,
    .toggle:checked:before {
        left: 32px;
    }
    .gesture-toggle {
        position: fixed;
        bottom: 0;
        right: 18%;
    }
    .sound-options,
    .gesture-options {
        font-family: 'Cuprum', cursive;
    }
    .gesture-options,
    .set-options {
        margin-top: 10%;
    }
    .description-left {
        margin-right: 5%;
    }
    .description-right {
        margin-left: 5%;
    }
    .option {
        margin-top: 2%;
    }
    .one-click-scoring {
        position: fixed;
        left: 18%;
        bottom: 0;
    }
    .help-img,
    .help-img img {
        position: fixed;
        bottom: 5px;
        left: 8%;
        max-height: 20px;
        max-width: 20px;
    }
    .number,
    .p1-number,
    .p1-single,
    .p1-multiple,
    .p2-number,
    .p2-single,
    .p2-multiple {
        /* border-left: 4px double black;
    border-right: 4px double black;  */
        padding-top: .5%;
        padding-bottom: .5%;
        padding-left: .5%;
        padding-right: .5%;
    }
    .miss,
    .undo,
    .end-turn {
        padding-top: .5%;
        padding-bottom: .5%;
        padding-left: 1%;
        padding-right: 1%;
    }
    /* .undo {
        padding-top: .5%;
        padding-bottom: .5%;
        padding-left: 0;
        padding-right: 0;
    } */
    .x01-option {
        padding-top: 3%;
    }
    .number button,
    .modal-body button {
        width: 100%;
        color: white;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.35rem !important;
        padding: 0;
        font-weight: bold;
    }
    .modal-body button {
        font-weight: normal;
    }
    .miss button,
    .end-turn button,
    .undo button,
    .start-over button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .mobile-start-over button {
        height: 30px;
        padding: 0;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: .75rem;
        padding: 0;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: .7rem;
        padding: 0;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
        border-bottom: 4px double black;
    }
    .points-label {
        padding: 0;
        font-size: .75rem;
    }
    .points-score {
        padding: 0;
        font-size: 1.25rem;
    }
    /* .right-label {
        padding-left: -20px;
    } */
    .p1-single button {
        background-color: #F2DDC8;
        color: black;
    }
    .p1-multiple button,
    .p1-multiple button:disabled {
        background-color: #1B4F2D !important;
        /* color: black; */
    }
    .p2-single button,
    .p2-single button:disabled {
        background-color: black !important;
        /* color: #c7ab8d; */
    }
    .p2-multiple button,
    .p2-multiple button:disabled {
        background-color: #881918 !important;
        /* color: #c7ab8d; */
    }
    .gesture-item {
        font-size: 1.5rem;
        font-family: 'Cuprum', cursive;
        text-align: center;
    }
    ul,
    li {
        list-style-type: none;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #gestureHeader h2 {
        margin-top: 10%;
        font-family: 'Cuprum', cursive;
        text-align: center;
    }
    #neverShowAgain button {
        font-size: 1.1rem !important;
        padding-bottom: 4%;
    }
}

@media (min-width: 720px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.75rem;
    }
    .best-of {
        font-size: 1.15rem;
    }
    .leg-options,
    .set-option {
        font-size: 1.5rem;
        padding-top: 5%;
    }
    .leg-header,
    .set-header,
    .sound-header,
    .swipe-header {
        font-size: 1.75rem;
    }
    .rules-header {
        font-size: 1.75rem;
        margin-bottom: 0;
    }
    .rules {
        font-family: 'Cuprum', cursive;
        font-size: 1rem;
    }
    .results-screen {
        font-size: 1.75rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .top-row {
        margin-top: 2%;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 2rem;
    }
    .modal-body button {
        width: 100%;
    }
    .number {
        border-left: 0;
        border-right: 0;
        padding-top: .5%;
        padding-bottom: .5%
    }
    .miss,
    .end-turn,
    .undo {
        padding-top: .5%;
        padding-bottom: .5%
    }
    .number button,
    .modal-body button {
        width: 100%;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem !important;
        font-weight: normal;
    }
    .end-turn button {
        font-size: 1.75rem !important;
    }
    .number {
        font-family: 'Cuprum', cursive;
        font-size: 2rem !important;
        color: black;
        font-weight: bold;
    }
    .p1-single button,
    .p1-multiple button,
    .p2-single button,
    .p2-multiple button {
        width: 100%;
        height: 50px;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem !important;
        font-weight: normal;
        color: #F2DDC8;
    }
    .p1-single button {
        background-color: #F2DDC8;
        color: black;
    }
    .p1-multiple button {
        background-color: #1B4F2D;
        /* color: black; */
    }
    .p2-single button {
        background-color: black;
        /* color: #c7ab8d; */
    }
    .p2-multiple button {
        background-color: #881918;
        /* color: #c7ab8d; */
    }
    .miss button,
    .undo button,
    .end-turn button,
    .start-over button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem;
        font-weight: normal;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: 1.75rem;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: 1.5rem;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
    }
    .points-label {
        font-size: 1.75rem;
    }
    .points-score {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {
    body {
        background-color: rgb(73, 121, 89);
        color: #F2DDC8;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.75rem;
    }
    .best-of {
        font-size: 1.15rem;
    }
    .swipe-option {
        font-size: 1.5rem;
    }
    .leg-header,
    .set-header,
    .sound-header,
    .swipe-header {
        font-size: 1.75rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .top-row {
        margin-top: 2%;
    }
    .results-screen {
        font-size: 1.5rem;
    }
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: rgb(73, 121, 89);
    }
    .modal-title {
        font-size: 2rem;
    }
    .modal-body button {
        width: 100%;
    }
    .number {
        border-left: 0;
        border-right: 0;
        padding-top: .5%;
        padding-bottom: .5%
    }
    .miss,
    .end-turn,
    .undo {
        padding-top: .5%;
        padding-bottom: .5%
    }
    .number button,
    .modal-body button {
        width: 100%;
        height: 50px;
        background-color: #1B4F2D;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem !important;
        font-weight: normal;
    }
    .p1-single button,
    .p1-multiple button,
    .p2-single button,
    .p2-multiple button {
        width: 100%;
        height: 50px;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem !important;
        font-weight: normal;
        color: #F2DDC8;
    }
    .p1-single button {
        background-color: #F2DDC8;
        color: black;
    }
    .p1-multiple button {
        background-color: #1B4F2D;
        /* color: black; */
    }
    .p2-single button {
        background-color: black;
        /* color: #c7ab8d; */
    }
    .p2-multiple button {
        background-color: #881918;
        /* color: #c7ab8d; */
    }
    .number {
        font-family: 'Cuprum', cursive;
        font-size: 2rem !important;
        color: black;
        font-weight: bold;
    }
    .miss button,
    .undo button,
    .end-turn button,
    .start-over button {
        width: 100%;
        height: 50px;
        background-color: #92B19C;
        font-family: 'Cuprum', cursive;
        font-size: 1.75rem;
        font-weight: normal;
    }
    .number button:hover,
    .modal-body button:hover {
        background-color: #689276;
    }
    .player {
        border-bottom: 4px double black;
        font-size: 1.75rem;
    }
    .cricket {
        border-left: 4px double black;
        border-right: 4px double black;
        border-bottom: 4px double black;
        font-size: 1.5rem;
    }
    .mark {
        max-height: 50px;
        padding: 0;
        max-width: 100%;
    }
    .throw-number {
        color: #C7AB8D;
    }
    .points-label {
        font-size: 1.75rem;
    }
    .points-score {
        font-size: 2rem;
    }
    #miss-x01 button,
    #undo-x01 button,
    #end-turn-x01 button {
        margin-bottom: 10%;
        margin-left: 3%;
    }
}

.modal-header {
    text-align: center !important;
    display: table-cell !important;
    vertical-align: middle !important;
}

.active-thrower {
    background-color: #C7AB8D;
    color: black;
}

.p1-active {
    background-color: #F2DDC8;
    color: black;
}

.p2-active {
    background-color: black;
    color: #F2DDC8;
}

.inactive-thrower {
    color: rgba(242, 221, 200, .5);
}

button,
button:active,
button:focus,
button:visited,
button:hover,
button:link,
button:target {
    border: 0 !important;
}

.border-right {
    border-right: 4px double black;
}

.border-left {
    border-left: 4px double black;
}

.border-top {
    margin-top: 1%;
    border-top: 4px double black;
}

.border-bottom {
    border-bottom: 4px double black;
}

.number button:hover,
.modal-body button:hover {
    background-color: #689276;
}

.miss button:hover {
    background-color: #CDA9B9;
}

.undo button:hover,
.start-over button:hover,
.p1-single button:hover {
    background-color: #C7AB8D;
}

.p1-single button:hover {
    color: black;
}

.p2-single button:hover {
    background-color: rgb(50, 50, 50);
}

.p2-multiple button:hover,
.end-turn button:hover {
    background-color: rgb(197, 98, 98);
}

img {
    max-width: 100%;
}

.number img {
    padding: 0;
    max-height: 70%;
    color: white;
}

.padding-top {
    padding-top: 1%;
}

.game-over button {
    font-family: 'Cuprum', cursive;
    font-size: 1.5rem;
    width: 85%;
    color: white;
}

#x01GameOver {
    padding-top: 5%;
    padding-bottom: 5%;
}

.sound-toggle {
    z-index: 99;
    position: fixed;
    top: 0;
    right: .5%;
}

.sound-toggle img {
    z-index: 99;
    max-height: 25px;
}

.mobile-popup {
    height: 150px;
    width: 100px;
    z-index: 100;
    background-color: black;
    position: fixed;
    margin-top: -50px;
}

.flip-container {
    perspective: 100%;
}

/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 160px;
    height: 320px;
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}